html, body, #root {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita que aparezca una barra de scroll horizontal */
}

/* El reseteo para que todos los elementos calculen bien su tamaño */
*, *:before, *:after {
  box-sizing: inherit;
}